.Editor {
    width: 40%;

    &:focus-within {
        box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    }
    
    textarea {
        width: 100%;
        border: none;
        resize: vertical;
        padding: 2rem;
        min-height: 10rem;
        border: 1px solid black;
        outline: none;
        font-size: inherit;
    }
}