.Editor {
    width: 40%;
    
    textarea {
        width: 100%;
        box-sizing: border-box;
        border: none;
        resize: vertical;
        padding: 2rem;
        min-height: 10rem;
        border: 1px solid black;
        outline: none;
    }
}